In [25]:
import pandas as pd
import numpy as np

In [26]:
df= pd.read_excel('zomato.xlsx')

In [27]:
df

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,1500.0,"[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600.0,[],[],Pubs and bars,Whitefield
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,2000.0,[],[],Pubs and bars,Whitefield
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,2500.0,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental",1500.0,"[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  float64
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: float64(1), int64(1), object(15)
memory usage: 6.7+ MB

In [8]:
df.shape

(51717, 17)

In [10]:
df.duplicated().sum()        ## to check duplicate values in the dataset

0

In [11]:
df['name'].isna().sum()

0

In [28]:
df.head(11)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
5,https://www.zomato.com/bangalore/timepass-dinn...,"37, 5-1, 4th Floor, Bosco Court, Gandhi Bazaar...",Timepass Dinner,Yes,No,3.8/5,286,+91 9980040002\n+91 9980063005,Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600.0,"[('Rated 3.0', 'RATED\n Food 3/5\nAmbience 3/...",[],Buffet,Banashankari
6,https://www.zomato.com/bangalore/rosewood-inte...,"19/1, New Timberyard Layout, Beside Satellite ...",Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8,+91 9731716688\n080 26740366,Mysore Road,Casual Dining,NaN,"North Indian, South Indian, Andhra, Chinese",800.0,"[('Rated 5.0', 'RATED\n Awesome food ??Great ...",[],Buffet,Banashankari
7,https://www.zomato.com/bangalore/onesta-banash...,"2469, 3rd Floor, 24th Cross, Opposite BDA Comp...",Onesta,Yes,Yes,4.6/5,2556,080 48653961\n080 48655715,Banashankari,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600.0,"[('Rated 5.0', 'RATED\n I personally really l...",[],Cafes,Banashankari
8,https://www.zomato.com/bangalore/penthouse-caf...,"1, 30th Main Road, 3rd Stage, Banashankari, Ba...",Penthouse Cafe,Yes,No,4.0/5,324,+91 8884135549\n+91 9449449316,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700.0,"[('Rated 3.0', ""RATED\n I had been to this pl...",[],Cafes,Banashankari
9,https://www.zomato.com/bangalore/smacznego-ban...,"2470, 21 Main Road, 25th Cross, Banashankari, ...",Smacznego,Yes,No,4.2/5,504,+91 9945230807\n+91 9743804471,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550.0,"[('Rated 4.0', ""RATED\n Easy to locate\nVFM 3...",[],Cafes,Banashankari
10,https://www.zomato.com/bangalore/caf%C3%A9-dow...,"12,29 Near PES University Back Gate, D'Souza N...",CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,402,080 26724489\n+91 7406048982,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500.0,"[('Rated 4.0', 'RATED\n We ended up here on a...",[],Cafes,Banashankari

In [29]:
df['name'].iloc[10]

'CafÃ\x83Â\x83Ã\x82Â\x83Ã\x83Â\x82Ã\x82Â\x83Ã\x83Â\x83Ã\x82Â\x82Ã\x83Â\x82Ã\x82Â© Down The Alley'

In [34]:
df['name'].iloc[566]

'Caf Down The Alley'

In [15]:
## how to clean the 'name' data containing extras:    (We can create a function)

In [30]:
import re
def clean_rest_name(names):
    if isinstance(names,str):
        if re.findall(r"[a-zA-Z0-9 ]", names):
            str1= re.findall(r"[a-zA-Z0-9 ]", names)
            str2= "".join(str1)   ## converting list to string
            return str2
        
    return names

In [31]:
 # df['name'].apply(clean_rest_name)
    
df['name']= df['name'].apply(clean_rest_name)

In [32]:
df['name'].iloc[10]

'Caf Down The Alley'

In [33]:
df['name'].iloc[566]

'Caf Down The Alley'

In [35]:
df['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [36]:
def clean_rates(rates):
    if (rates== "NEW" or rates== "-"):
        return np.nan
    else:
        rates_sp= float(str(rates).split("/")[0])
        return rates_sp

In [37]:
df['rate']= df['rate'].apply(clean_rates)

In [38]:
df['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, nan, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2,
       2.3, 4.8, 4.9, 2.1, 2. , 1.8])

In [39]:
df['approx_cost(for two people)'].unique()

array([ 800.,  300.,  600.,  700.,  550.,  500.,  450.,  650.,  400.,
        900.,  200.,  750.,  150.,  850.,  100., 1200.,  350.,  250.,
        950., 1000., 1500., 1300.,  199.,   80., 1100.,  160., 1600.,
        230.,  130.,   50.,  190., 1700.,   nan, 1400.,  180., 1350.,
       2200., 2000., 1800., 1900.,  330., 2500., 2100., 3000., 2800.,
       3400.,   40., 1250., 3500., 4000., 2400., 2600.,  120., 1450.,
        469.,   70., 3200.,   60.,  560.,  240.,  360., 6000., 1050.,
       2300., 4100., 5000., 3700., 1650., 2700., 4500.,  140.])

In [41]:
df['approx_cost(for two people)'].mean()

555.4315664479959

In [42]:
df[['name', 'rate']]

                                                    name  rate
0                                                  Jalsa   4.1
1                                         Spice Elephant   4.1
2                                        San Churro Cafe   3.8
3                                  Addhuri Udupi Bhojana   3.7
4                                          Grand Village   3.8
...                                                  ...   ...
51712      Best Brews  Four Points by Sheraton Bengaluru   3.6
51713                           Vinod Bar And Restaurant   NaN
51714  Plunge  Sheraton Grand Bengaluru Whitefield Ho...   NaN
51715  Chime  Sheraton Grand Bengaluru Whitefield Hotel    4.3
51716                        The Nest  The Den Bengaluru   3.4

[51717 rows x 2 columns]

In [48]:
df['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4.0, 4.2, 3.9, 3.1, 3.0, 3.2, 3.3, 2.8,
       4.4, 4.3,
       <bound method NDFrame._add_numeric_operations.<locals>.mean of 0        4.1
       1        4.1
       2        3.8
       3        3.7
       4        3.8
               ...
       51712    3.6
       51713    NaN
       51714    NaN
       51715    4.3
       51716    3.4
       Name: rate, Length: 51717, dtype: float64>                                 ,
       2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2, 2.3, 4.8, 4.9,
       2.1, 2.0, 1.8], dtype=object)

In [50]:
grp_by_name= df.groupby('name')
grp_by_name[['name', 'rate']].mean()

C:\Users\Raviraaj Roshan\AppData\Local\Temp\ipykernel_22592\3440373504.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  grp_by_name[['name', 'rate']].mean()

Empty DataFrame
Columns: []
Index: [1947,  Biryani Central,  The Bbq, 1 Fahreheit, 1000 BC, 100C, 11 to 11 Express Biriyanis, 1131 Bar  Kitchen, 12th Main  Grand Mercure, 1441 Pizzeria, 1522  The Pub, 154 Breakfast Club, 1722 Urban Bistro, 18 Ice Cafe, 1980s Games Cafe, 1992 Chats  Space, 1Q1, 1TO3 Kitchen, 2 Statez, 20 Char  Sterlings MAC Hotel, 20 Feet High, 21 C  La Marvella Sarovar Premiere Hotel, 21 Corner Haus Cafe, 22S, 24 Carats  The Capitol, 24 Hours Cake Delivery, 24 Hours Coffee Drop  La Classic, 2443  The Oterra, 247  The Lalit Ashok Bangalore, 247 Food Service, 24th Main, 29 Degrees North, 2nd Home Restaurant, 3 Leafs, 3 Spice, 30 Square, 360 Atoms Restaurant And Cafe, 36th Cross Coffee Mane, 37 China Town, 38 Sugar Lane, 3Bs  Buddies Bar  Barbecues, 3Gs  Gulp  Groove, 3ice Cubes, 3rd Innings, 4 Mangoes, 4 Seasons Restaurant, 4 States, 46 Ounces Brewgarden, 4671 Indian Coastal Cuisine, 4700BC Popcorn, 4Foodiez, 4Foodiez  The Restaurant, 4K Biryani, 4S Bar, 4States, 4th Tea Block, 5 Degree Centigrade, 5 Star Food, 5 star food, 5050 EATING HOUSE, 52 Wall Street, 55 Wall Street, 56 Bhoga Sweets, 5th Main Cafe, 7 Days Restaurant, 7 Degrees North, 7 Hills Andhra Mess, 7 Hills Garden Restaurant, 7 Hills Restaurant, 7 Plates, 7 Shanghai, 7 Spice, 7 Star Biryani, 7 to 11 Food Court, 70 Brigade  Iris Hotel, 7Biryanis, 7th Heaven, 8 Slice, 9 Bowls, 9 Tea, 90s, 90s Beer Cafe  Hotel Millennium Plaza, 90s Cafe, 99, 99 Caffe, 99 Eat Out, 99 Pancakes, 99 Udupi Veg, 99 Variety Dosa  Pav Bhaji, 99 Variety Dosa and Pav Bhaji, 99 Variety DoseBiryanisStarters, 99Foods, 9D Foods, 9th Cross Cafe, A 1 Pizza and Food, A Bakers Confession, A Bar, A Hole Lotta Love Cafe, A La Carte Restaurant, A Little For Love, ...]

[8741 rows x 0 columns]

In [51]:
df['rate']= df['rate'].fillna(df['rate'].mean)

In [52]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,+91 8026612447\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [53]:
df['online_order'].unique()

array(['Yes', 'No'], dtype=object)

In [55]:
online_orders= df[(df['online_order']=="Yes") & (df['book_table'] == "No")]

In [56]:
online_orders

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
5,https://www.zomato.com/bangalore/timepass-dinn...,"37, 5-1, 4th Floor, Bosco Court, Gandhi Bazaar...",Timepass Dinner,Yes,No,3.8,286,+91 9980040002\n+91 9980063005,Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600.0,"[('Rated 3.0', 'RATED\n Food 3/5\nAmbience 3/...",[],Buffet,Banashankari
8,https://www.zomato.com/bangalore/penthouse-caf...,"1, 30th Main Road, 3rd Stage, Banashankari, Ba...",Penthouse Cafe,Yes,No,4.0,324,+91 8884135549\n+91 9449449316,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700.0,"[('Rated 3.0', ""RATED\n I had been to this pl...",[],Cafes,Banashankari
9,https://www.zomato.com/bangalore/smacznego-ban...,"2470, 21 Main Road, 25th Cross, Banashankari, ...",Smacznego,Yes,No,4.2,504,+91 9945230807\n+91 9743804471,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550.0,"[('Rated 4.0', ""RATED\n Easy to locate\nVFM 3...",[],Cafes,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51624,https://www.zomato.com/bangalore/slv-grand-itp...,"Satya Sai Complex Hoodi, ITPL Main Road, White...",SLV Grand,Yes,No,3.3,66,+91 7981512319,"ITPL Main Road, Whitefield",Quick Bites,NaN,South Indian,300.0,"[('Rated 1.0', ""RATED\n Very low quality food...","['Jeera Rice', 'Veg Pulao', 'Veg Biryani', 'Hy...",Dine-out,Whitefield
51629,https://www.zomato.com/bangalore/radha-rani-br...,"Opposite Brookefield Mall, Brookefield, Bangalore",Radha Rani,Yes,No,3.4,252,+91 8792449564\n+91 9886595975,Brookefield,Quick Bites,"Fish, Veg Thali, Biryani","Bengali, North Indian, Chinese",400.0,"[('Rated 4.0', 'RATED\n One of my favourite b...","['Veg Thali', 'Veg Special Thali', 'Chicken Th...",Dine-out,Whitefield
51645,https://www.zomato.com/bangalore/raapchick-bro...,"Opposite Brookefield Mall, Kundanhalli, Brooke...",Raapchick,Yes,No,3.6,49,080 41717785\n+91 9571153004,Brookefield,Quick Bites,Burgers,"Fast Food, Burger",300.0,"[('Rated 5.0', ""RATED\n I was randomly lookin...","['Chicken Wrap', 'Veg Crunch Burger', 'Spicy P...",Dine-out,Whitefield
51656,https://www.zomato.com/WhitefieldSocial?contex...,"29, Ground Floor, Phoenix Market City, Whitefi...",Whitefield Social,Yes,No,4.1,2773,+91 8049626661\n+91 9886252234,Whitefield,Pub,"Cocktails, Chicken Kebab, Murgh Ghee Roast, Vi...","American, North Indian, Chinese, Finger Food, ...",1500.0,"[('Rated 2.0', 'RATED\n Honestly speaking it ...","['Chilli Paneer Black Pepper China Box', 'Chil...",Drinks & nightlife,Whitefield
51694,https://www.zomato.com/WhitefieldSocial?contex...,"29, Ground Floor, Phoenix Market City, Whitefi...",Whitefield Social,Yes,No,4.1,2773,+91 8049626661\n+91 9886252234,Whitefield,Pub,"Cocktails, Chicken Kebab, Murgh Ghee Roast, Vi...","American, North Indian, Chinese, Finger Food, ...",1500.0,"[('Rated 2.0', 'RATED\n Honestly speaking it ...","['Chilli Paneer Black Pepper China Box', 'Chil...",Pubs and bars,Whitefield

In [57]:
gb_name= df.groupby('name')

In [60]:
top_vote_rest= gb_name.sum().sort_values("votes", ascending=False ).head(5)

In [64]:
top_vote_rest

                    votes  approx_cost(for two people)
name
Onesta             347520                      51000.0
Truffles           301059                      38700.0
Empire Restaurant  229808                      48650.0
Hammered           180602                      59800.0
The Black Pearl    172122                      25700.0

In [62]:
lowest_votes= gb_name.sum().sort_values("votes", ascending= False).tail(5)

In [63]:
lowest_votes

                 votes  approx_cost(for two people)
name
Pasta Twist          0                       1600.0
Patel Eat            0                        200.0
Pathaks Kitchen      0                        300.0
Patiala House        0                       1800.0
sCoolMeal            0                       1500.0

In [67]:
expensive_rest= df.groupby('name').agg({'approx_cost(for two people)':'mean'}).sort_values('approx_cost(for two people)', ascending= False).head(5)

In [68]:
expensive_rest

                                       approx_cost(for two people)
name
Le Cirque Signature  The Leela Palace                       6000.0
Royal Afghan  ITC Windsor                                   5000.0
Malties  Radisson Blu                                       4500.0
La Brasserie  Le Meridien                                   4100.0
Grill 99  The RitzCarlton                                   4000.0

In [69]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,+91 8026612447\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [70]:
## count of different types of restaurant

In [71]:
df['listed_in(type)'].unique()

array(['Buffet', 'Cafes', 'Delivery', 'Desserts', 'Dine-out',
       'Drinks & nightlife', 'Pubs and bars'], dtype=object)

In [72]:
gr_list_type= df.groupby('listed_in(type)')

In [73]:
res= gr_list_type.count()

In [74]:
res['name']

listed_in(type)
Buffet                  882
Cafes                  1723
Delivery              25942
Desserts               3593
Dine-out              17779
Drinks & nightlife     1101
Pubs and bars           697
Name: name, dtype: int64

In [75]:
## OR,

In [76]:
res_type= df.groupby('listed_in(type)').agg({'name': 'count'}).sort_values('name', ascending= False)

In [77]:
res_type

                     name
listed_in(type)
Delivery            25942
Dine-out            17779
Desserts             3593
Cafes                1723
Drinks & nightlife   1101
Buffet                882
Pubs and bars         697